footer {
  background-color: rgb(47, 193, 140);
  display: flex;
  justify-content: space-around;
  width: 100%;
}

[ data-testid = 'drinks-bottom-btn' ] {
  background: none;
  border: none;
  cursor: pointer;
}

[ data-testid = 'explore-bottom-btn' ] {
  background: none;
  border: none;
  cursor: pointer;
}

[ data-testid = 'food-bottom-btn' ] {
  background: none;
  border: none;
  cursor: pointer;
}

footer img {
  filter: invert(22%)
    sepia(0%)
    saturate(3120%)
    hue-rotate(215deg)
    brightness(89%)
    contrast(82%);
  height: 40px;
  width: 30px;
}
