/* .container-foods-drinks-header-card-footer {
  align-items: center;
  background-color: rgb(49, 108, 82);
  border: none;
  border-radius: 40px 40px 0 0;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px auto;
  margin-top: 800px;
  overflow: hidden;
  width: 360px;
} */

