.container-foods-drinks-header-card-footer {
  background-image: url('/home/flavio/Trybe-projects/sd-019-c-project-recipes-app/src/images/Logo/walpapers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 640px;
  justify-content: space-between;
  margin-top: 121px;
  width: 360px;
}

