.container-favorite-buttons {
  align-items: center;
  background: rgba(240, 255, 246, 0.717);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

[ data-testid = 'profile-email' ] {
  color: #404040;
  font-size: 22px;
  font-weight: 800;
  margin-left: 80px;
  position: fixed;
  top: 110px;
}
