html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-image: url('images/Logo/img_celular_body.jpg');
  background-position: center 20px;
  background-repeat: no-repeat;
  background-size: 590px;
  display: flex;
  justify-content: center;
}

/* ! Share */
.share-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.container-share {
  height: 40px;
}

.container-share p {
  font-size: 10px;
  font-weight: 600;
  padding-top: 5px;
  text-align: center;
}

/* ! Share */

/* ! Link Like */
.btn-link-favorite {
  background: none;
  border: none;
  cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Engagement&family=Permanent+Marker&family=Shizuru&display=swap') ;

